---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Danilo Maccari"
  description="Desarrollador Full Stack"
  lang="es"
>
  <main class="px-4">
    <SectionContainer class="py-40 pb-32">
      <h1
        class="text-black text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        ¡Hola, soy Danilo Maccari!
        <a
          href="https://www.linkedin.com/in/maccari78/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>Desarrollador Fullstack</span>
        <span class="opacity-80"
          >con experiencia en JavaScript, TypeScript, React, NestJS, PostgreSQL
          y TypeORM.</span
        >
        Apasionado por el backend, especialmente por la seguridad de las cuentas
        (JWT, RBAC, bcrypt, passport, OAuth2) y en constante aprendizaje. Busco oportunidades
        para contribuir con mis habilidades en proyectos innovadores y seguir creciendo
        profesionalmente. De Bahía Blanca, Buenos Aires, Argentina
      </h2>
      <ul>
        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/maccari78/">
            <LinkedInIcon class="size-4 md:size-6" />LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/maccari78">
            <GithubIcon class="size-4 md:size-6" />Github
          </SocialPill>
          <SocialPill href="mailto:maccari78@gmail.com">
            <MailIcon class="size-4 md:size-6" />maccari78@gmail.com
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement(
      { pageLanguage: "es" },
      "google_translate_element"
    );
  }
</script>
<script
  type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
