---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
  title="Portfolio de Danilo Maccari - Desarrollador y Programador Web"
  description="Contrata a Danilo"
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <h1 class="text-black text-5xl font-bold flex flex-row ga-x-4 pb-10">
        Soy Danilo Maccari<a
          href="https://www.linkedin.com/in/maccari78/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>Desarrollador Fullstack</span><span class="opacity-80">
          con experiencia en JavaScript, TypeScript, React, NestJS, PostgreSQL y
          TypeORM.</span
        > Apasionado por el backend, especialmente por la seguridad de las cuentas
        (JWT, RBAC, bcrypt, passport, OAuth2) y en constante aprendizaje. Busco oportunidades
        para contribuir con mis habilidades en proyectos innovadores y seguir creciendo
        profesionalmente. <br />De Bahía Blanca, Buenos Aires, Argentina
      </h2>
      <ul>
        <nav class="flex gap-x-4 mt-5">
          <SocialPill href="https://www.linkedin.com/in/maccari78/">
            <LinkedInIcon class="size-6" />LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/maccari78">
            <GithubIcon class="size-6" />Github
          </SocialPill>
          <SocialPill href="https://github.com/maccari78">
            <MailIcon class="size-6" />maccari78@gmail.com
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-2 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience ? />
    </SectionContainer>
  </main>
</Layout>
