---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/icons/SocialPill.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import { t } from "../utils/i18n";

let lang = 'es'; 

if (typeof window !== 'undefined') {
  lang = new URLSearchParams(window.location.search).get('lang') || localStorage.getItem('language') || 'es';
}
---

<Layout
  title={t("seo.title", lang)}
  description={t("seo.description", lang)}
  lang={lang}
>
  <main class="px-4">
    <SectionContainer class="py-40 pb-32">
      <h1
        class="text-black text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        {t("home.greeting", lang)}
        <a
          href="https://www.linkedin.com/in/maccari78/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>{t("home.available", lang)}</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>{t("home.role", lang)}</span>
        <span class="opacity-80">{t("home.experience", lang)}</span>
        {t("home.description", lang)}
      </h2>
      <ul>
        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill href="https://www.linkedin.com/in/maccari78/">
            <LinkedInIcon class="size-4 md:size-6" />LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/maccari78">
            <GithubIcon class="size-4 md:size-6" />Github
          </SocialPill>
          <SocialPill href="mailto:maccari78@gmail.com">
            <MailIcon class="size-4 md:size-6" />maccari78@gmail.com
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <Briefcase class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
