---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "11/2024 - 02/2025 (4 meses) | Remoto",
    title: "Mecantronic - Backend Developer",
    description:
      "Contribuí a 'plan-mi-casa' con backend en FastAPI y MySQL (AWS RDS), y frontend en ReactJS, Redux y MaterialUI, entregando 82 tareas en un equipo Agile. Implementé autónomamente 'monthly-rates' y 'functional-units', y optimicé la gestión de datos con borrado y recuperación de Suscriptores.",
  },
  {
    date: "10/2023 - 11/2023 (2 meses) | Remoto",
    title: "Thaskify - Full Stack Developer (Prácticas)",
    description:
      "Contribuí a una app de gestión de proyectos con tableros Kanban usando Node.js, MongoDB (backend) y React (frontend) en un equipo Agile. Implementé autenticación con JWT y drag-and-drop, optimizando la UX.",
  },
  {
    date: "06/2023 - 10/2023 (5 meses) | Remoto",
    title: "Unión Informática - Machine Learning & Data Analyst Teacher",
    description:
      "Impartí clases de Machine Learning y Data Analyst con Python y Google Colab de forma remota.",
  },
  {
    date: "02/2022 - 06/2023 (1.4 años) | Remoto",
    title: "INTI - Tutor y Supervisor de Entorno Virtual (#ArgentinaPrograma)",
    description:
      "Trabajé en #YoProgramo, comenzando como Tutor (02/2022 - 08/2022), asesorando a estudiantes en Full Stack Development (Angular, Java Spring, MySQL), y ascendiendo a Supervisor (07/2022 - 06/2023) por mi buen desempeño, gestionando Profesores y Tutores para asegurar la calidad educativa.",
  },
  {
    date: "12/2021 - 02/2022 (3 meses) | Remoto",
    title: "Toyoko LLC - Freelance Frontend Developer",
    description:
      "Mejoré la funcionalidad y UX de una página de biotecnología con JavaScript y Django. Configuré un entorno virtual en VSCode y WSL, superando desafíos técnicos para optimizar el desarrollo.",
  },
  {
    date: "03/2017 - 09/2017 (7 meses) | Remoto",
    title: "anatod - Freelance Software QA Analyst & UX/UI Designer",
    description: "Asesoré al equipo de QA y UX/UI Design.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
