---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "08/2023 - 10/2023",
    title: "Unión Informática - Data Analyst Teacher",
    description:
      "Debido a mi buen desempeño como profesor tambien impartí clases de Data Analyst con Python mediante Google Colab de forma remota.",
  },
  {
    date: "06/2023 - 10/2023",
    title: "Unión Informática - Machine Learning Teacher",
    description:
      "Impartí clases de Machine Learning mediante Google Colab de forma remota.",
  },
  {
    date: "07/2022 - 06/2023",
    title: "INTI - Supervisor de Entorno Virtual (SEV)",
    description:
      "Debido a mi buen desempeño como Tutor, gestioné la labor de Profesores y Tutores de Entorno Virtual (PEVs y TEVs) de #YoProgramo #ArgentinaPrograma.",
  },
  {
    date: "02/2022 - 09/2022",
    title: "INTI - Tutor de Entorno Virtual (TEV)",
    description:
      "Realicé el seguimiento y asesoramiento de alumnos en su aprendizaje de Fullstack Web Development (Angular, Java Spring, MySQL) de #YoProgramo #ArgentinaPrograma..",
  },
  {
    date: "12/2021 - 02/2022",
    title: "Toyoko LLC - Freelance Frontend Developer",
    description:
      "Agregué funcionalidades y optimicé la experiencia de usuario y la presentación de la información en una página de biotecnología.",
  },
  {
    date: "03/2017 - 09/2017",
    title: "anatod - Freelance Software QA Analyst & UX/UI Designer",
    description: "Asesoré al equipo de QA y UX/UI Design.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
