<footer class="bg-white rounded-lg shadow dark:bg-black-800 py-2 w-full xl:w-[1120px] mx-auto">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex justify-center items-center">
    <span class="text-sm text-black-500 sm:text-center dark:text-black-400">
      © 2024 <a href="https://github.com/maccari78" class="hover:underline">maccari78™ on Github.</a> All Rights Reserved.
    </span>
  </div>
</footer>

