<footer class="flex justify-between items-center bg-white dark:bg-gray-800 rounded-lg shadow dark:shadow-gray-700 py-4 w-full xl:w-[1120px] mx-auto">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex justify-center items-center">
    <span class="text-sm text-black-500 sm:text-center dark:text-black-400">
      © 2024 <a href="https://github.com/maccari78" class="hover:underline">maccari78™ en Github.</a> Todos los derechos reservados.
    </span>
  </div>
</footer>

