---
interface Props {
  lang: string;
}

const { lang = "es" } = Astro.props as Props;
---

<header
  class="flex justify-between items-center bg-white rounded-lg shadow dark:bg-black-800 py-4 w-full xl:w-[1120px] mx-auto"
>
  <img
    class="rounded-full size-10 mb-2 ml-6"
    src="https://avatars.githubusercontent.com/u/30017498?s=400&u=ad3e2a3e5830149a0cfed96c02cc5e649e60dde5&v=4"
    alt="maccari78 photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-90 mr-6">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <select id="language-select" value={lang} class="ml-4">
      <option value="es">Español</option>
      <option value="en">Ingles</option>
      <option value="fr">Frances</option>
    </select>
  </nav>
</header>

<script is:inline type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
  }

  function changeLanguage() {
    const languageSelect = document.getElementById("language-select");
    languageSelect.addEventListener("change", function () {
      const language = languageSelect.value;
      const googleTranslateElement = document.querySelector(".goog-te-combo");
      if (googleTranslateElement) {
        googleTranslateElement.value = language;
        googleTranslateElement.dispatchEvent(new Event("change"));
      }
    });
  }

  window.addEventListener("DOMContentLoaded", function () {
    googleTranslateElementInit();
    changeLanguage();
  });
</script>
<script is:inline type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
